:root {
    --black: #282323;
    --white: #fffffb;
    --lightgreen: #d7d9c7;
    --darkgreen: #5f6f52;
    --beige: #fcf8f2;
    --orange: #f9a049;
    --sand: #ebe2ce;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* nav bar */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--sand);
    padding: 0px 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 75px;
}

header .logo {
    font-size: 20px;
    color: var(--black);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 40px;
}


.nav__listitem {
    list-style: none;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.nav__listitem {
    position: relative;
    float: left;
}

header .nav ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--white);
    display: block;
}

header .nav ul li a:hover {
    background: var(--accent2);
    border-radius: 50px;
    color: var(--black);
}

.nav__listitemdrop {
    position: absolute;
    left: 0;
    width: 140px;
    background: var(--lightgreen);
    display: none;
    border: 1px solid var(--darkgreen);
}

a {
    text-decoration: none;
}

.li_drop {
    list-style: none;
}

header .nav ul li ul li {
    width: 100%;
}

header .nav ul li:focus-within>ul,
header .nav ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: var(--black);
    cursor: pointer;
    display: none;
}

/* footer */



@media (max-width: 991px) {
    header {
        padding: 16px;
    }

    header label {
        display: initial;
    }

    header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--sand);
        display: none;
    }

    header .nav ul li {
        width: 100%;
    }

    header .nav ul li ul {
        position: relative;
        width: 100%;
    }

    #menu-bar:checked~.nav {
        display: initial;
    }

    .nav__listitemdrop {
        border: none;
    }

    header .logo {
        font-size: 32px;
        color: var(--black);
    }

    header label {
        color: var(--black);
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 24px;
    }
}