:root {
    --black: #282323;
    --white: #fffffb;
    --lightgreen: #d7d9c7;
    --darkgreen: #5f6f52;
    --beige: #fcf8f2;
    --orange: #f9a049;
    --sand: #ebe2ce;
}


main {
    box-sizing: border-box;
    /* padding: 0px 138px; */
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

/* Landing page */

.landingblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    height: 700px;
    background-color: var(--beige);
}

.landingtext {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px 138px;
    margin-top: 12em;
}

.landingtext h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.landingtext h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    font-size: 28px;
    font-weight: 400;
}

.landingtext a {
    font-size: 20px;
    font-weight: 400;
    background-color: var(--orange);
    color: var(--white);
    margin-top: 5em;
    /* border: 2px solid black; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 60px;
    padding: 20px 20px;
    justify-self: center;


}

.landingtext a:hover {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.landingimg {
    margin-top: 4em;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
}

.landingimg img {
    width: 100%;
    padding: 0px 0px;

}

.giftguideblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--darkgreen);
    height: 500px;
}

.guideblock {
    width: 50%;
    margin-left: 220px;
    align-self: center;
}

.guidetext {
    color: var(--lightgreen);
    align-self: center;
}

.guidetext h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 2em;
}

.guidetext a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--lightgreen);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 60px;
    padding: 15px 20px;
    justify-self: center;
}

.guidetext a:hover {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.top3block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0px 138px;
    height: 850px;
}

.top3block h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    text-align: center;
    height: 100px;
    margin-top: 0.5em;
    justify-self: center;
    margin-bottom: 0.5em;
}

.top3block .top3link {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--darkgreen);
    color: var(--beige);
    /* border: 2px solid black; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 60px;
    padding: 15px 20px;
    justify-self: center;
}

.top3block .top3link:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

.top3products {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-bottom: 1em;
    justify-self: center;
}

.topproducts {
    max-width: 100%;
    padding: 2em;

}

.reviews {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 450px;
    background-color: var(--lightgreen);

}

.reviews h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    text-align: center;
    height: 50px;
    justify-self: center;
    margin: 1em 138px;
}

.review-wrapper {
    display: flex;
    flex-direction: row;
    justify-self: center;



}

.review-cont {
    background-color: var(--darkgreen);
    padding: 20px 40px;
    width: 500px;
    height: 200px;
    margin: 2em;
    box-shadow: 5px 5px 5px var(--black);
}


.review-cont img {
    float: left;
    margin-right: 20px;
    border-radius: 40%;
    width: 30px;
}


.review-cont span {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-right: 20px;
}

.review-cont .reviewp {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-right: 45px;
    text-align: start;
    padding-top: 10px;
    align-self: center;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.logo-banner {
    height: 180px;
    overflow: hidden;
}

.logo-banner .logo-titel {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    padding: 0 138px;
    margin-top: 10px;
}

.logo-black {
    width: 1800px;
    margin-bottom: 80px;
    height: 180px;
}

.logo-black img {
    padding-left: 2em;
    height: 500px;
    width: 200px;

}

/* moving logo banner */
.first {
    animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1746px;
    }
}

.logo-black img {
    transition: all 1s ease;
}

#b2bservice {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    background-color: var(--beige);

}

.b2btext {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 2em;
}

.b2btext h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 32px;
    font-weight: 400;
}

.b2btext h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 24px;
    font-weight: 400;
}

.manual {
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 600px;
    width: 700px;
}

.manual p {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* contact blok*/

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    background-color: var(--lightgreen);

}

.contactinfo {
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    width: 850px;
    padding: 0 138px;

}

.contactinfo h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--lightgreen);
    font-size: 32px;
    font-weight: 400;
    margin-top: 2em;
}

.contactinfo p {
    font-family: 'Montserrat', sans-serif;
    color: var(--lightgreen);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 1em;
}

#newsletter {
    display: flex;
    flex-direction: column;
}

.newslettertext {
    margin-top: 4em;
    padding: 0 138px;
}

.newslettertext h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkgreen);
    font-size: 32px;
    font-weight: 400;
}

.newslettertext p {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkgreen);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 1em;
}

/* microinteraction newsletter button */
.newslettercontainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.newslettercontent {
    /* width: 360px;
    height: 40px; */
    width: 500px;
    height: 50px;
    /* box-shadow: 2px 4px 10px rgba(0, 0, 0, .2); */
    /* border-radius: 60px; */
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.before-submit {
    padding: 4px;
}

.after-submit {
    padding: 4px;
}

.subscription .add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    /* border-radius: 60px; */
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: var(--darkgreen);
    color: #FFFFFF;
    transition: width .35s ease-in-out,
        background .35s ease-in-out;
}

.subscription.done .submit-email {
    width: calc(100% - 2px);
    background: var(--darkgreen);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
        opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
}

/* product list */
.product-slogan {
    height: 200px;
    background-color: var(--lightgreen);
    margin-top: 7em;
}

.product-slogan h1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 400;
}

.childgrid {
    display: flex;


}

#child1-main-left {
    margin-bottom: 1em;
    padding: 0 138px;
    border-bottom: 1px solid var(--black);


}

/* get this to the other side*/
#child1-main-right {
    margin-bottom: 1em;
    justify-content: flex-end;


}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5em;
    max-width: 100%;
    gap: 1rem;
    padding: 0 138px;
}

.listcontent {
    max-width: 100%;
    justify-content: center;

}

.gridlist {
    margin-top: 10em;

}

.listcontent img {
    max-width: 100%;
    max-height: 100%;
}

.listcontent h2 {
    font-family: 'Montserrat', sans-serif;
}

#child1-main-left button {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
    margin: 0 5px;
    padding: 0.5em 1em;
    padding-top: 0.7em;
    margin-top: 5em;
    box-shadow: none;
    border: none;
    transition: 0.5s ease;
}

#child1-main-left button:hover {
    text-decoration: underline;
}

.next-page {
    height: 100px;
    width: 100%;
}

.next-page p {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-top: 4em;
    justify-content: center;
    border-bottom: 1px solid var(--black);
}

.sustainable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    background-color: var(--beige);
}

.sustext {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    padding: 0 138px;
}

.sustext a {
    font-size: 20px;
    font-weight: 400;
    background-color: var(--orange);
    color: var(--white);
    margin-top: 5em;
    /* border: 2px solid black; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 40%;
    height: 60px;
    padding: 20px 20px;
    justify-self: center;


}

.sustext a:hover {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

/* product page */

.singleproduct {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    max-height: 80%;
}

.product_img {
    max-width: 100%;
    max-height: 100%;

}

.product_info {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 20px;
}

.other-products {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 800px;
}

.threeother {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    margin-bottom: 1em;
    justify-self: center;
    height: 700px;

}

.three-products {
    margin: 1em;
}

.other-products h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    text-align: center;
    height: 100px;
    margin-top: 1em;
    justify-self: center;
    margin-bottom: 0.5em;
}

/* Gift guide page */

#giftguide {
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    height: 830px;

}

#giftguide h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;

}

.guidebutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;


}

.guidebutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step1 page */

#step1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step1 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.pricegrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pricebutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
    margin-bottom: 100%;
}

.pricebutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step2 page */

#step2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step2 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.catgrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.catbutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
}

.catbutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step3 page */

#step3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step3 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.selectiongrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.selecbutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
}

.selecbutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* giftguide result page */


.contentwrapper {
    margin-top: 4em;
    margin-bottom: 2em;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--beige);
    max-width: 100%;
    padding: 0px 138px;

}

.resulttext {
    margin-top: 4em;
    font-family: 'Schibsted Grotesk', sans-serif;

}

.resulttext h1 {
    font-size: 42px;
    font-weight: 700;
}

.resulttext h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 2em;
}

.contentwrapper img {
    max-width: 100%;
    max-height: 400px;

}

#gggrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 138px;
}

.ggcontent {
    max-width: 80%;
    align-items: center;
}

.producttext {
    margin-bottom: 0;
    margin-left: 0;
}

.resultbuttons {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
}

.resultbuttons a {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--darkgreen);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 80px;
    padding: 25px 20px;
    justify-self: center;
    margin: 2em;
}

.resultbuttons a:hover {
    background-color: var(--darkgreen);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}



@media only screen and (max-width: 600px) {
    main {
        overflow: hidden;
    }

    .landingblock {
        grid-template-columns: 1fr;
        height: 900px;
        margin-top: 5em;
    }


    .landingtext {
        padding: 0 16px;
        margin-top: 4em;

    }

    .landingtext h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 700;
    }

    .landingtext h2 {
        font-family: 'Montserrat', sans-serif;
        margin-top: 1em;
        font-size: 24px;
        font-weight: 400;
    }

    .landingimg {
        margin-top: 2em;
    }

    .giftguideblock {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--darkgreen);
        height: 450px;
    }

    .guideblock {
        width: 50%;
        margin-left: 220px;
        align-self: center;
    }

    .guidetext {
        color: var(--lightgreen);
        align-self: center;
        padding: 0 16px;
    }

    .guidetext h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 2em;
    }

    .guidetext a {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        background-color: var(--lightgreen);
        color: var(--black);
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 50%;
        height: 60px;
        padding: 15px 20px;
        justify-self: center;
    }

    .guidetext a:hover {
        background-color: var(--black);
        color: var(--white);
        text-align: center;
        text-decoration: none;
    }

    .top3block {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 16px;
        height: 850px;
    }

    .top3block h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 28px;
        display: flex;
        text-align: center;
        height: 100px;
        margin-top: 1em;
        justify-self: center;
        margin-bottom: 0.5em;
    }

    .top3block .top3link {
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        background-color: var(--darkgreen);
        color: var(--beige);
        /* border: 2px solid black; */
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 50%;
        height: 60px;
        padding: 20px 20px;
        justify-self: center;
    }

    .top3block .top3link:hover {
        background-color: var(--black);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    .top3products {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        margin-bottom: 1em;
        justify-self: center;
    }

    .topproducts {
        max-width: 100%;
        padding: 2em;

    }

    .reviews {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 500px;
        background-color: var(--lightgreen);

    }

    .reviews h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 32px;
        display: flex;
        text-align: center;
        height: 50px;
        justify-self: center;
        margin: 1em 138px;
    }

    .review-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;



    }

    .review-cont {
        background-color: var(--darkgreen);
        padding: 10px 20px;
        width: 250px;
        height: 300px;
        margin: 1em;
        box-shadow: 5px 5px 5px var(--black);
    }


    .review-cont img {
        float: left;
        margin-right: 20px;
        border-radius: 40%;
        width: 30px;
    }


    .review-cont span {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin-right: 20px;
    }

    .review-cont .reviewp {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-right: 30px;
        text-align: start;
        padding-top: 12px;
        align-self: center;
    }

    .dots {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    .logo-banner {
        height: 180px;
        overflow: hidden;
    }

    .logo-banner .logo-titel {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        justify-content: center;
        padding: 0 138px;
        margin-top: 10px;
    }

    .logo-black {
        width: 1800px;
        margin-bottom: 80px;
        height: 180px;
    }

    .logo-black img {
        padding-left: 2em;
        height: 500px;
        width: 200px;

    }

    /* moving logo banner */
    .first {
        animation: bannermove 60s linear infinite;
    }

    @keyframes bannermove {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -1746px;
        }
    }

    .logo-black img {
        transition: all 1s ease;
    }

    #b2bservice {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 1100px;
        background-color: var(--beige);
        justify-content: center;

    }

    .b2btext {
        display: flex;
        justify-self: center;
        text-align: center;
        margin-top: 2em;
        padding: 0 16px;
        height: 100px;
    }

    .b2btext h2 {
        font-family: 'Montserrat', sans-serif;
        color: var(--orange);
        font-size: 28px;
        font-weight: 400;
        padding: 0 16px;
    }

    .b2btext h3 {
        font-family: 'Montserrat', sans-serif;
        color: var(--orange);
        font-size: 18px;
        font-weight: 400;
        padding: 0 16px;
    }

    .manual {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        /* display: flex;
        flex-direction: row; */
        justify-content: center;
        align-content: center;
        height: 80%;
    }

    .manual p {
        font-family: 'Montserrat', sans-serif;
        color: var(--orange);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .help-stepone {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .help-stepone img {
        width: 50%;
        align-self: center;
    }

    .help-steptwo {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .help-steptwo img {
        width: 50%;
        align-self: center;
    }

    .help-stepthree {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .help-stepthree img {
        width: 50%;
        align-self: center;
    }

    /* contact blok*/

    .contact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 700px;
        background-color: var(--lightgreen);

    }

    .contactinfo {
        background-color: var(--darkgreen);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 16px;

    }

    .contactinfo h2 {
        font-family: 'Montserrat', sans-serif;
        color: var(--lightgreen);
        font-size: 32px;
        font-weight: 400;
        margin-top: 2em;
    }

    .contactinfo p {
        font-family: 'Montserrat', sans-serif;
        color: var(--lightgreen);
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 1em;
        width: 500px;
    }

    #newsletter {
        display: flex;
        flex-direction: column;
    }

    .newslettertext {
        margin-top: 4em;
        padding: 0 16px;
    }

    .newslettertext h2 {
        font-family: 'Montserrat', sans-serif;
        color: var(--darkgreen);
        font-size: 32px;
        font-weight: 400;
    }

    .newslettertext p {
        font-family: 'Montserrat', sans-serif;
        color: var(--darkgreen);
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 1em;
        width: 500px;
    }

    /* microinteraction newsletter button */
    .newslettercontainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .newslettercontent {
        /* width: 360px;
        height: 40px; */
        width: 500px;
        height: 50px;
        /* box-shadow: 2px 4px 10px rgba(0, 0, 0, .2); */
        /* border-radius: 60px; */
        overflow: hidden;
    }

    .subscription {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .before-submit {
        padding: 4px;
    }

    .after-submit {
        padding: 4px;
    }

    .subscription .add-email {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 20px;
    }

    .subscription .submit-email {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 2px);
        width: 100px;
        border: none;
        /* border-radius: 60px; */
        outline: none;
        margin: 1px;
        padding: 0 20px;
        cursor: pointer;
        background: var(--darkgreen);
        color: #FFFFFF;
        transition: width .35s ease-in-out,
            background .35s ease-in-out;
    }

    .subscription.done .submit-email {
        width: calc(100% - 2px);
        background: var(--darkgreen);
    }

    .subscription .submit-email .before-submit,
    .subscription .submit-email .after-submit {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 38px;
        transition: visibility .35s ease-in-out,
            opacity .35s ease-in-out;
    }

    .subscription.done .submit-email .before-submit,
    .subscription:not(.done) .submit-email .after-submit {
        visibility: hidden;
        opacity: 0;
    }

    .subscription .submit-email .after-submit {
        transition-delay: .35s;
    }

    .subscription:not(.done) .submit-email .before-submit,
    .subscription.done .submit-email .after-submit {
        visibility: visible;
        opacity: 1;
    }

}