:root {
    --black: #282323;
    --white: #fffffb;
    --lightgreen: #d7d9c7;
    --darkgreen: #5f6f52;
    --beige: #fcf8f2;
    --orange: #f9a049;
    --sand: #ebe2ce;
}


main {
    box-sizing: border-box;
    /* padding: 0px 138px; */
    background-color: var(--white);
}

/* Landing page */

.landingblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    height: 700px;
    background-color: var(--beige);
}

.landingtext {
    display: flex;
    flex-direction: column;
    padding: 0px 138px;
    margin-top: 10em;
}

.landingtext h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.landingtext h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.landingtext a {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 40%;
    height: 60px;
    padding: 15px 20px;
    justify-self: center;


}

.landingtext a:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* .landingimg {
    height: 500px;
} */

.giftguideblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--darkgreen);
    height: 500px;
}

.guideblock {
    width: 50%;
    margin-left: 138px;
}

.guidetext {
    color: var(--lightgreen);
    margin-top: 6em;
    align-self: auto;
}

.guidetext h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 3em;
}

.guidetext a {

    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--lightgreen);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 40%;
    height: 60px;
    padding: 15px 20px;
    justify-self: center;
}

.guidetext a:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

.top3block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0px 138px;
    height: 800px;
}

.top3block h2 {
    display: flex;
    height: 100px;
    margin-top: 2em;
    justify-self: center;
}

.top3block a {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--darkgreen);
    color: var(--beige);
    /* border: 2px solid black; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 60px;
    padding: 15px 20px;
    justify-self: center;
}

.top3block a:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

.top3products {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-bottom: 5em;
    justify-self: center;
}

.topproducts {
    max-width: 100%;
    padding: 2em;

}

.trustpilot {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    background-color: var(--lightgreen);
    padding: 3em;
    justify-content: center;
}

.trustpilot h2 {
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.reviewbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review {

    width: 30%;
    height: 300px;
    padding: 30px 30px;
    background-color: var(--darkgreen);
    margin-right: 2em;

}

/* product list */

.childgrid {
    display: flex;


}

#child1-main-left {
    margin-bottom: 1em;


}

/* get this to the other side*/
#child1-main-right {
    margin-bottom: 1em;
    justify-content: flex-end;


}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5em;
    max-width: 100%;
    gap: 1rem;
}

.listcontent {
    max-width: 100%;
    justify-content: center;

}

.gridlist {
    margin-top: 10em;

}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

button {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
    margin: 0 5px;
    padding: 0.5em 1em;
    padding-top: 0.7em;
    margin-top: 5em;
    box-shadow: none;
    border: none;
    transition: 0.5s ease;
}

button:hover {
    text-decoration: underline;
}

#productpage {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    max-height: 80%;
}

.product_img {
    max-width: 100%;
    max-height: 100%;

}

.product_info {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 20px;
}

/* Gift guide page */

#giftguide {
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    height: 830px;

}

#giftguide h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;

}

.guidebutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;


}

.guidebutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step1 page */

#step1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step1 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.pricegrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pricebutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
    margin-bottom: 100%;
}

.pricebutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step2 page */

#step2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step2 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.catgrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.catbutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
}

.catbutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* step3 page */

#step3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/assets/Artboard\ 3.svg);
    background-repeat: no-repeat;
    margin-top: 3em;
    justify-content: center;
    height: 830px;

}

#step3 h1 {
    margin-top: 5em;
    height: 100px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    text-align: center;
}

.selectiongrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.selecbutton {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: var(--beige);
    color: var(--black);
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 100px;
    padding: 40px 40px;
    justify-self: center;
    margin: 2em;
}

.selecbutton:hover {
    background-color: var(--black);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* giftguide result page */


.contentwrapper {
    margin-top: 4em;
    margin-bottom: 2em;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--beige);
    max-width: 100%;
    padding: 0px 138px;

}

.resulttext {
    margin-top: 4em;
    font-family: 'Schibsted Grotesk', sans-serif;

}

.resulttext h1 {
    font-size: 42px;
    font-weight: 700;
}

.resulttext h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 2em;
}

.contentwrapper img {
    max-width: 100%;
    max-height: 400px;

}

#gggrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 138px;
}

.ggcontent {
    max-width: 80%;
    align-items: center;
}

.producttext {
    margin-bottom: 0;
    margin-left: 0;
}

.resultbuttons {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
}

.resultbuttons a {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--darkgreen);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 80px;
    padding: 25px 20px;
    justify-self: center;
    margin: 2em;
}

.resultbuttons a:hover {
    background-color: var(--darkgreen);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

#b2bservice {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--beige);
    height: 600px;

}

.servicetext {
    margin-top: 4em;
    padding: 0px 138px;
    display: flex;
    flex-direction: column;
    font-family: 'Schibsted Grotesk', sans-serif;
    align-items: center;
}

.servicetext h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--orange);
}

.servicetext h2 {
    font-size: 24px;
    font-weight: 400;
    color: var(--orange);
}

.steps {
    display: flex;
    flex-direction: row;
    margin-top: 6em;
    padding: 0px 138px;
    justify-content: center;

}

.steps p {
    color: var(--orange);
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 400;
    padding: 2em;
    text-align: center;

}

#newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lightgreen);
    height: 300px;
    padding: 0px 300px;
}

.newslettertext {
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 5em;

}

.newslettertext h1 {
    font-size: 32px;
    font-weight: 700;
}

.newslettertext h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 1em;
}

/* microinteraction newsletter button */
.newslettercontainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newslettercontent {
    /* width: 360px;
    height: 40px; */
    width: 450px;
    height: 50px;
    /* box-shadow: 2px 4px 10px rgba(0, 0, 0, .2); */
    /* border-radius: 60px; */
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.before-submit {
    padding: 4px;
}

.after-submit {
    padding: 4px;
}

.subscription .add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    /* border-radius: 60px; */
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: var(--darkgreen);
    color: #FFFFFF;
    transition: width .35s ease-in-out,
        background .35s ease-in-out;
}

.subscription.done .submit-email {
    width: calc(100% - 2px);
    background: var(--darkgreen);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
        opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 400px) {
    main {
        box-sizing: border-box;
        padding: 0px 0px;
    }

    button {
        background-color: var(--white);
        color: var(--black);
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 10px;
        border-bottom: 1px solid var(--black);
        cursor: pointer;
        margin: 0 5px;
        padding: 0.5em 1em;
        padding-top: 0.7em;
        margin-top: 5em;
        box-shadow: none;
        border: none;
        transition: 0.5s ease;
    }

    button:hover {
        text-decoration: underline;
    }

    #productpage {
        margin-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        max-height: 100%;
    }

    .product_img {
        max-width: 100%;
        max-height: 100%;

    }

    .product_info {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 14px;
    }

    #giftguide {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        height: 700px;
        align-items: center;
    }

    #giftguide h1 {
        margin-top: 4em;
        margin-bottom: 10%;
        height: 100px;
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 700;
        font-size: 26px;
        width: 300px;
        color: var(--black);
        text-align: center;
        justify-self: center;

    }

    .guidebutton {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 18px;
        font-weight: 400;
        background-color: var(--beige);
        color: var(--black);
        border: 2px solid black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 60%;
        height: 80px;
        padding: 25px 40px;
        justify-self: center;
        margin-bottom: 100%;


    }

    .guidebutton:hover {
        background-color: var(--black);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    /* step1 page */

    #step1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(/assets/Artboard\ 3.svg);
        background-repeat: no-repeat;
        margin-top: 3em;
        justify-content: center;
        height: 700px;

    }

    #step1 h1 {
        margin-top: 4em;
        height: 50px;
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 700;
        font-size: 26px;
        width: 300px;
        color: var(--black);
        text-align: center;
        justify-self: center;
    }

    .pricegrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40%;

    }

    .pricebutton {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 21px;
        font-weight: 400;
        background-color: var(--beige);
        color: var(--black);
        border: 2px solid black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 80%;
        height: 80px;
        padding: 25px 40px;
        margin: 5%;


    }

    .pricebutton:hover {
        background-color: var(--black);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    /* step2 page */

    #step2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(/assets/Artboard\ 3.svg);
        background-repeat: no-repeat;
        margin-top: 3em;
        justify-content: center;
        height: 700px;

    }

    #step2 h1 {
        margin-top: 3em;
        height: 100px;
        width: 280px;
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: var(--black);
        text-align: center;
        justify-self: center;
    }

    .catgrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40%;
    }

    .catbutton {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 21px;
        font-weight: 400;
        background-color: var(--beige);
        color: var(--black);
        border: 2px solid black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 80%;
        height: 80px;
        padding: 25px 40px;
        margin: 5%;

    }

    .catbutton:hover {
        background-color: var(--black);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    /* step3 page */

    #step3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(/assets/Artboard\ 3.svg);
        background-repeat: no-repeat;
        margin-top: 3em;
        justify-content: center;
        height: 700px;
        align-items: center;

    }

    #step3 h1 {
        margin-top: 2em;
        height: 100px;
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 700;
        font-size: 26px;
        width: 280px;
        color: var(--black);
        text-align: center;
        justify-self: center;
    }

    .selectiongrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60%;

    }

    .selecbutton {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 21px;
        font-weight: 400;
        background-color: var(--beige);
        color: var(--black);
        border: 2px solid black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 80%;
        height: 80px;
        padding: 25px 40px;
        justify-self: center;
        margin: 5%;
    }

    .selecbutton:hover {
        background-color: var(--black);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    /* Result content */

    .contentwrapper {
        margin: 0 0px;
        height: 350px;
        background-color: var(--beige);
        max-width: 100%;
        padding: 0 0px;

    }

    .resulttext {
        margin-top: 6em;
        margin-left: 1em;
        font-family: 'Schibsted Grotesk', sans-serif;

    }

    .resulttext h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .resulttext h2 {
        font-size: 21px;
        font-weight: 400;
        margin-top: 0.5em;
    }

    .contentwrapper img {
        max-width: 80%;
        max-height: 400px;
        margin-top: 11em;
        margin-left: 2em;

    }

    #gggrid {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
        max-width: 100%;
    }

    .ggcontent {
        max-width: 100%;
        align-items: center;
    }

    .producttext {
        margin-bottom: 4em;
        margin-left: 1em;
    }

    .resultbuttons {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .resultbuttons a {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 18px;
        font-weight: 400;
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--darkgreen);
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 60%;
        height: 80px;
        padding: 25px 20px;
        justify-self: center;
        align-self: center;
        margin: 1em;
    }

    .resultbuttons a:hover {
        background-color: var(--darkgreen);
        color: var(--beige);
        text-align: center;
        text-decoration: none;
    }

    #b2bservice {
        background-color: var(--beige);
        height: 650px;

    }

    .servicetext {
        margin-top: 2em;
        padding: 0px 0px;
        height: 40%;
        width: 300px;
        display: flex;
        flex-direction: column;
        font-family: 'Schibsted Grotesk', sans-serif;
        justify-self: center;
    }

    .servicetext h1 {
        font-size: 28px;
        font-weight: 700;
        color: var(--orange);
    }

    .servicetext h2 {
        font-size: 16px;
        font-weight: 400;
        color: var(--orange);
    }

    .steps {
        display: flex;
        flex-direction: column;
        margin-bottom: 6em;
        padding: 0px 0px;
        justify-self: center;
        margin-top: 4em;

    }

    .steps p {
        color: var(--orange);
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 400;
        padding: 2em;
        margin-top: 4em;
        text-align: center;

    }

    #newsletter {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: var(--lightgreen);
        height: 300px;
        padding: 0px 0px;
        justify-self: left;
    }

    .newslettertext {
        font-family: 'Schibsted Grotesk', sans-serif;
        margin-top: 4em;
        margin-left: 2em;

    }

    .newslettertext h1 {
        font-size: 32px;
        font-weight: 700;
    }

    .newslettertext h2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 1em;
    }

    /* microinteraction newsletter button */
    .newslettercontainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .newslettercontent {
        /* width: 360px;
        height: 40px; */
        width: 350px;
        height: 50px;
        /* box-shadow: 2px 4px 10px rgba(0, 0, 0, .2); */
        /* border-radius: 60px; */
        overflow: hidden;
    }

    .subscription {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .before-submit {
        padding: 4px;
    }

    .after-submit {
        padding: 4px;
    }

    .subscription .add-email {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 20px;
    }

    .subscription .submit-email {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 2px);
        width: 100px;
        border: none;
        /* border-radius: 60px; */
        outline: none;
        margin: 1px;
        padding: 0 0px;
        cursor: pointer;
        background: var(--darkgreen);
        color: #FFFFFF;
        transition: width .35s ease-in-out,
            background .35s ease-in-out;
    }

    .subscription.done .submit-email {
        width: calc(100% - 2px);
        background: var(--darkgreen);
    }

    .subscription .submit-email .before-submit,
    .subscription .submit-email .after-submit {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 38px;
        transition: visibility .35s ease-in-out,
            opacity .35s ease-in-out;
    }

    .subscription.done .submit-email .before-submit,
    .subscription:not(.done) .submit-email .after-submit {
        visibility: hidden;
        opacity: 0;
    }

    .subscription .submit-email .after-submit {
        transition-delay: .35s;
    }

    .subscription:not(.done) .submit-email .before-submit,
    .subscription.done .submit-email .after-submit {
        visibility: visible;
        opacity: 1;
    }

}